@{
    ViewBag.Title = "视频列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<AUSUMediaSite.EF.tbMediaInfo>

<h2>视频列表</h2>

<table class="table table-bordered">
    <tr>
        <th>
            序号
        </th>
        <th>
            名称
        </th>
         <th>
            链接地址
        </th>
        <th>
            标题
        </th>
         <th style="width:90px;">
            大小
        </th>
        <th>
           类别
        </th>
        <th>更新时间</th>
        <th></th>
    </tr>

 @foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
       
        <td>
          <a href="user.html"><i class="fa fa-pencil"></i></a>
          <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
    i++;
}

</table>

@Html.PagedListPager( Model, page => Url.Action("VideoList", new {page}) )

<div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>